<div class="editForm">
  <form action="/{{_id}}/edit" method="post">
    <input
      type="text"
      name="description"
      placeholder="description"
      value="{{description}}"
    />
    <input class="submitBtn" type="submit" value="update" />
  </form>
</div>