@use "mixins";

#mainWrapper {
  .viewDiv {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
    div {
      padding-right: 20px;
      h5 {
        margin: 0px;
      }
      a {
        text-decoration: none;
        @include mixins.textColor;
        font-size: 10pt;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .sortDiv {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 10px;
    h5 {
      margin: 0px;
    }
    a {
      text-decoration: none;
      @include mixins.textColor;
      font-size: 10pt;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    list-style: none;
    @include mixins.paddingMargin;
    padding-top: 10px;
    padding-left: 20px;

    li {
      display: flex;
      justify-content: space-between;
      width: 450px;
      font-size: 10pt;
      .nameCheck {
        display: flex;
        gap: 10px;
        h4 {
          @include mixins.paddingMargin;
        }
        p {
          font-size: 8pt;
          font-style: italic;
          @include mixins.paddingMargin;
        }
        .check {
          input {
            margin: 0px;
            padding: 0px;
            cursor: pointer;
          }
        }
      }

      .editDel {
        display: flex;
        a {
          text-decoration: none;
          @include mixins.paddingMargin;
          @include mixins.textColor;
          font-size: 10pt;
          &:hover {
            text-decoration: underline;
          }
        }

        .delete {
          input {
            margin-left: 10px;
            border-radius: 50px;
            cursor: pointer;
            background: rgb(255, 106, 106);
            border: 0 none;
          }
        }
      }
    }
  }

  .formDiv {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    form {
      margin: 0px;
      .submitBtn {
        cursor: pointer;
      }
    }
  }
}
